<div [formGroup]="formGroup" class="styled-input-container">
    <mat-form-field class="styled-input">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon *ngIf="formControl.value" matSuffix (click)="hide = !hide" class="password-visibility-icon">
            {{hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <app-styled-info-tooltip matSuffix [info]="tooltipText"></app-styled-info-tooltip>
    </mat-form-field>
    <app-styled-validation-error *ngIf="formControl.touched" [errors]="errors" controlName="Password">
    </app-styled-validation-error>
</div>